.navbar{
    background: black;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
}
.menu li{
    font-size: 15px;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 20px;
    color: white;
}
.logo{
    width: 75px;
    margin-left: 90px;
}
.inicio{
    margin-top: 150px;
}